@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Medium.woff2') format('woff2'),
  url('./AtypDisplay-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Light.woff2') format('woff2'),
  url('./AtypDisplay-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Bold.woff2') format('woff2'),
  url('./AtypDisplay-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Thin.woff2') format('woff2'),
  url('./AtypDisplay-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Semibold.woff2') format('woff2'),
  url('./AtypDisplay-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('./AtypDisplay-Regular.woff2') format('woff2'),
  url('./AtypDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Atyp Variable';
  src: url('./AtypRegularVariable.woff2') format('woff2'),
  url('./AtypRegularVariable.woff') format('woff');
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Bold.woff2') format('woff2'),
  url('./AtypText-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Thin.woff2') format('woff2'),
  url('./AtypText-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Semibold.woff2') format('woff2'),
  url('./AtypText-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Regular.woff2') format('woff2'),
  url('./AtypText-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Medium.woff2') format('woff2'),
  url('./AtypText-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('./AtypText-Light.woff2') format('woff2'),
  url('./AtypText-Light.woff') format('woff');
  font-weight: 300;
}
